*{
  margin : 0;
  padding : 0;
}

:root {
  --text-color: white;
  --background-color: #242526;

}

/*:root {*/
/*  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;*/
/*  line-height: 1.5;*/
/*  font-weight: 400;*/
/*  !*background: gray;*!*/
/*  color-scheme: light dark;*/
/*  color: rgba(255, 255, 255, 0.87);*/
/*  background-color: #dfe3ee;*/

/*  font-synthesis: none;*/
/*  text-rendering: optimizeLegibility;*/
/*  -webkit-font-smoothing: antialiased;*/
/*  -moz-osx-font-smoothing: grayscale;*/
/*  -webkit-text-size-adjust: 100%;*/
/*}*/

/*a {*/
/*  font-weight: 500;*/
/*  color: #646cff;*/
/*  text-decoration: inherit;*/
/*}*/
/*a:hover {*/
/*  color: #535bf2;*/
/*}*/
button{
  padding: 5px;
}

body {
  font-size: 18px;
  /*width: 100vw;*/
  margin: 0;
  padding: 0;
  display: flex;
  /*place-items: center;*/
  /*min-width: 320px;*/
  min-height: 100vh;
  background-color: var(--background-color);
}
img{
  object-fit: cover;
}

.rdw-mention-link {
  color: rgb(0, 100, 244);
  background-color: rgba(24, 119, 242, 0.2);
}

.wysiwyg-mention {
  color: blue;
  background-color: lightblue;
  cursor: pointer;
  text-decoration: none;
}

.wysiwyg-hashtag {
  text-decoration: none;
  color: blue;
  background-color: lightblue;
}